{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>Expense Category</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Number of receipts</th>
            </thead>
            <tbody>
                {% for category in list_of_category_objects %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.receipts|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
